# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# macOS
.DS_Store

# Logs
*.log

# Local settings
appsettings.Development.json

# Database (remove this line if you want to upload SQLite databases)
*.db